*{
    padding: 0px;
    margin: 0px;
    font-family: Century Gothic,CenturyGothic,ApppleGothic,sans-serif;
}

.calculadora{
    background-color: #ededed;
    width: fit-content;
    margin: auto;
    margin-top: 35px;
}

.tela{
   padding: 18px 18px 0px 18px; 

}
.sr{
    padding: 0px 18px 18px 18px;
    border: none;

}
.sr button{
    width: 100%;
    background-color: #48c;
    color: #fff;
}

.op{
    padding: 18px 18px 18px 9px;

}
.op button{
    display: block;
    width: 54px;
    height: 54px;
    padding: 9px 15px;
    background-color: black;
    color: #fff;
    border: none;
}
#resultado{
    background-color: #666;
    color: #eee;
    padding: 9px;
    
}



.numeros{
    padding: 18px 9px 18px 18px;
}
.numeros div{
    text-align: center;
}

.numeros button{
    border: 0px;
    background-color: #fff;
    transition: all 0.9s;
}
.numeros button:hover{
    box-shadow: 0px 0px 12px #aaa;
}

.teclas{
    display: flex;
}


button{
    margin: 2px 0px;
    padding: 15px 24px;
    font-size: 15px;
}